/* FEBRUARY 2, 2026: STARTING POINT */

/* FEBRUARY 3, 2026: 
    FEATURES ADDED:
    h1, p, body

*/

/* FEBRUARY 4, 2026: 
    FEATURES ADDED:
    font-size to p
    font, size and text-alignment to ul

*/

h1
{
    color: rgb(135, 177, 163);
    font-family: Verdana;
    text-align: center;
    font-size: 50px;
}

p
{
    font-family: Verdana;
    text-align: justify;
    font-size: 30px;
}

body
{

    background-color: rgb(195, 171, 110);
}

ul{
    font-family: Verdana;
    text-align: justify;
    font-size: 30px;
}



