/* FEBRUARY 2, 2026: STARTING POINT */

/* FEBRUARY 3, 2026: 
    FEATURES ADDED:
    h1, p, body

*/

/* FEBRUARY 4, 2026: 
    FEATURES ADDED:
    font-size to p
    font, size and text-alignment to ul
    font/size/hover hyperlinks
    font/size/hover to button 

*/

/* FEBRUARY 5, 2026: 
    FEATURES ADDED:
    border radius

*/

/* FEBRUARY 6, 2026: 
    FEATURES ADDED:
    footer properties

*/

/* FEBRUARY 8, 2026: 
    FEATURES ADDED:
    margin, padding, nav
    
    FEATURES CHANGED:
    changed text color
    changed background color on footer
*/

h1
{
    color: rgb(220, 228, 225);
    font-family: Verdana;
    text-align: center;
    font-size: 50px;
}

p
{
    font-family: Verdana;
    text-align: justify;
    text-align: center;
    font-size: 30px;
}

body
{
    background-color: rgb(195, 171, 110);
    margin: 0;
    padding: 0;
}

ul{
    font-family: Verdana;
    text-align: justify;
    font-size: 30px;
}

a:link, a:visited{
    background-color: rgb(131, 145, 145);
    color: rgb(220, 228, 225);
    padding: 15px 25px;
    font-size: 30px;
    font-family: Verdana;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 20px;
}

a:hover, a:active{
    background-color: rgb(160, 173, 169);
}

nav{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(63, 106, 92);
}

nav a{
    text-align: center;
}

button{
    background-color: rgb(131, 145, 145);
    color: rgb(220, 228, 225);
    font-size: 30px;
    font-family: Verdana;
    border: none;
    border-radius: 10px;

}

button:hover{
    background-color: rgb(160, 173, 169);
    border: none;
   
}

footer {
  background-color: rgb(63, 106, 92);
  padding: 10px;
  text-align: center;
  color: rgb(220, 228, 225);
}
